---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <font size="1.4em">Blog Posts:</font>
    <div class="indicator">
        <img src="/sp17-ms2/assets/img/wip.svg" alt="wip" height="15" width="15">: Work in Progress &ensp;
        <img src="/sp17-ms2/assets/img/fin.svg" alt="fin" height="15" width="15">: Final Report 
    </div>
    <ul>
        {% for post in site.posts %}
        <li>
            {% if post.state == 'wip' %}
                <img src="/sp17-ms2/assets/img/wip.svg" alt="wip" height="15" width="15">
            {% elsif post.state == 'fin' %}
                <img src="/sp17-ms2/assets/img/fin.svg" alt="fin" height="15" width="15">
            {% endif %}
             <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
