
#toc{
    display: block;
    width: 600px;
    border-radius: 8px;
    background-color: #EEEEEE;
    font-size: 95%;
    padding: 5px;
    float:right;
    margin: 0 0 20px 20px;

}
#toc p {
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    margin: 0;
}
#toc a {
    text-decoration: none;
}
#toc ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 5px;
}

#toc ol > li {
  display: table;
  counter-increment: item;
}

#toc ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

#toc li ol > li {
  margin: 0;
}

#toc li ol > li:before {
  content: counters(item, ".") " ";
}

.clickable-header {
  cursor:pointer;
}
.clickable-header:hover {
  text-decoration:underline;
}
.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
}